<html>

<body>
    <form action="/docalculation" method="post">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Modi optio quaerat incidunt minus nostrum vel cupiditate
             quisquam iure at ratione. Repellendus nemo accusantium
             reprehenderit earum ipsam iusto minima delectus ab!</p>
    </form>
</body>

</html>